{
  "presets": ["@babel/preset-react", "@babel/preset-typescript"],
  "plugins": [
    "@babel/plugin-transform-modules-commonjs",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-transform-export-namespace-from",
    [
      "import",
      { "libraryName": "@material-ui/core", "libraryDirectory": "", "camel2DashComponentName": false },
      "@material-ui/core"
    ],
    ["import", { "libraryName": "lodash", "libraryDirectory": "", "camel2DashComponentName": false }, "lodash"],
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "src": "./src"
        }
      }
    ]
  ]
}
