{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-transform-modules-commonjs",
    "@babel/plugin-proposal-optional-chaining",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "src": "./src"
      }
    }]
  ]
}