rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /polls/{id} {
      allow create: if isSignedIn()
      allow read: if isSignedIn()
    }

    match /users/{userId}/notifications/{docId} {
      allow update: if isSignedIn() && isOwner(userId);
      allow read: if isSignedIn() && isOwner(userId);
    }

     /// Functions /// 

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(docId) {
      return request.auth.uid == docId;
    }
  }
}
