@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Akagu_2023';
  src: url('./assets/fonts/Akagu2023.ttf');
}

@font-face {
  font-family: 'Akagu_2020';
  src: url('./assets/fonts/Akagu2020.ttf');
}

@font-face {
  font-family: 'Silka';
  src: url('./assets/fonts/silka-regular-webfont.eot');
  src: url('./assets/fonts/silka-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/silka-regular-webfont.woff2') format('woff2'),
    url('./assets/fonts/silka-regular-webfont.woff') format('woff'),
    url('./assets/fonts/silka-regular-webfont.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Silka';
  src: url('./assets/fonts/silka-bold-webfont.eot');
  src: url('./assets/fonts/silka-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/silka-bold-webfont.woff2') format('woff2'),
    url('./assets/fonts/silka-bold-webfont.woff') format('woff'),
    url('./assets/fonts/silka-bold-webfont.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Silka';
  src: url('./assets/fonts/silka-black-webfont.eot');
  src: url('./assets/fonts/silka-black-webfont.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/silka-black-webfont.woff2') format('woff2'),
    url('./assets/fonts/silka-black-webfont.woff') format('woff'),
    url('./assets/fonts/silka-black-webfont.ttf') format('truetype');
  font-weight: 900;
}

/* Disables all mouse events for the suggested words popup container */
.suggested-words-container .chakra-popover__popper {
  pointer-events: none;
}

html,
main,
.main-content {
  width: 100vw;
}

.main-content {
  height: calc(100vh - 56px);
  overflow-y: scroll;
  @apply p-0 !important;
}

::selection {
  @apply bg-black;
  @apply text-white;
}

.akagu {
  font-family: 'Akagu_2023', 'sans-serif' !important;
  @apply text-green-800;
}

.akagu_2020 {
  font-family: 'Akagu_2020', 'sans-serif' !important;
  @apply text-green-800;
}

.firebaseui-idp-text {
  font-family: 'Silka';
}

.react-audio-player {
  height: 40px;
}

body {
  font-size: 16px !important;
}

input,
textarea,
[data-test='accented-letter-popup'],
[data-test*='-diff-field'] {
  font-family: Arial, Helvetica, sans-serif;
}

.MuiAppBar-root {
  @apply bg-gray-300 !important;
  @applyshadow-sm !important;
}

.MuiToolbar-root {
  @apply bg-white !important;
}

.MuiButtonBase-root {
  color: var(--chakra-colors-gray-700);
}

[class*='RaLayout-appFrame'] {
  width: 100vw;
}

[class*='RaList-bulkActionsDisplayed-'] {
  @apply mt-0 !important;
}

[class*='RaBulkActionsToolbar-collapsed-'] {
  @apply h-0 !important;
}

[class*='RaList-content-'] {
  z-index: 0;
}

#label-studio div[class*='editor--'] {
  width: auto !important;
}

.lsf-topbar__group:first-child {
  visibility: hidden;
  position: absolute;
}

.TopToolbar {
  justify-content: space-between !important;
  padding-top: 16px !important;
}

.MuiTableHead-root {
  @apply bg-gray-100 !important;
}

.MuiTableRow-root:hover {
  @apply bg-gray-200 !important;
}

.MuiTableCell-head {
  @apply bg-gray-100 !important;
  @apply py-0 !important;
}

.list-page {
  @apply bg-gray-200 !important;
}

.MuiButton-label .RaButton-smallIcon-78 {
  fill: rgb(255, 255, 255) !important;
}

.ant-collapse-header svg {
  margin-top: 5px !important;
}

/* Suggestion change styles */
.addition-change {
  @apply bg-green-100;
  @apply text-green-500;
  @apply px-3;
}

.deletion-change {
  @apply bg-red-100;
  @apply text-red-500;
  @apply px-3;
}

.warning-change {
  @apply bg-yellow-100;
  @apply text-yellow-500;
}

span.MuiTableSortLabel-root {
  @apply py-0 !important;
  @apply py-2 !important;
  @apply mx-0 !important;
}

.MuiButtonBase-text,
.MuiButton-text {
  @apply border !important;
  @apply border-blue-600 !important;
  @apply border-solid !important;
  @apply font-normal !important;
}

.MuiButton-textPrimary,
[class*='button-add-'] {
  @apply bg-blue-600 !important;
  @apply text-white !important;
}

.MuiButton-textPrimary:disabled,
[class*='button-add-']:disabled,
button.MuiButton-root.Mui-disabled {
  @apply bg-gray-300 !important;
  @apply text-gray-700 !important;
  @apply cursor-not-allowed !important;
}

.MuiButton-textPrimary:hover,
[class*='button-add-']:hover {
  @apply bg-blue-100 !important;
}

button.MuiButton-textSecondary,
button[class*='button-remove-'] {
  @apply border !important;
  @apply border-blue-600 !important;
  @apply border-solid !important;
  @apply text-blue-600 !important;
}

button.MuiButton-textSecondary:hover,
button[class*='button-remove-']:hover {
  @apply border-blue-100 !important;
  @apply bg-blue-100 !important;
}

.button-remove-definitions {
  @apply text-blue-600 !important;
}

button[class*='button-remove-definitions'] svg[class*='RaSimpleFormIterator-leftIcon'] {
  fill: #3182ce !important;
}

.MuiDrawer-paper {
  @apply bg-gray-100 !important;
}

.testing-app .MuiAppBar-positionFixed {
  @apply absolute !important;
}

.testing-app [class*='RaDatagrid-headerCell'] {
  @apply relative !important;
}

button[class*='RaPaginationActions-button'] {
  @apply text-blue-600 !important;
  @apply border-none !important;
  @apply bg-transparent !important;
}

button[class*='RaPaginationActions-currentPageButton'] {
  @apply border !important;
  @apply border-blue-600 !important;
  @apply border-solid !important;
}

select[class*='chakra-select'] {
  @apply border-gray-200;
}

input#word,
input#igbo {
  @apply h-8 !important;
  @apply w-64 !important;
  @apply rounded-lg !important;
}

.form-textarea {
  @apply w-full;
  @apply border-current;
  @apply border-solid;
  @apply border;
  @apply border-gray-600;
  @apply rounded-md;
  @apply px-3;
  @apply py-2;
}

.list-container {
  @apply flex;
  @apply items-start;
  @apply mb-10;
}

.primary-button {
  @apply bg-green-600;
  @apply rounded;
  @apply text-gray-100 !important;
}

.form-header {
  @apply mt-0 !important;
  width: fit-content !important;
}

.error {
  @apply text-red-500;
  @apply mt-3;
  @apply text-left;
}

.link {
  @apply transition;
  @apply duration-300;
  @apply underline;
  @apply text-blue-400;
}

.link:hover {
  @apply text-blue-600;
}

.form-buttons-container {
  @apply flex;
  @apply flex-col-reverse;
  @apply w-full;
  @apply justify-start;
  @apply mt-4;
  @apply px-3;
  @apply fixed;
  @apply space-y-2;
  z-index: 1000;
  bottom: 0.5em;
  left: 0;
}

.accented-letter-builder-button {
  @apply transition-all;
  @apply duration-300;
  @apply mx-2;
  @apply mt-3;
  @apply rounded-md;
  @apply border;
  @apply border-solid;
  @apply border-gray-600;
  @apply text-2xl;
  @apply w-10;
  @apply h-10;
}

.accented-letter-builder-button:hover {
  @apply bg-gray-200;
}

.ant-checkbox-wrapper span {
  @apply text-xl;
}
.ant-checkbox-inner {
  transform: scale(1.25);
}

.gradient-background {
  background: linear-gradient(-45deg, #bcf5e435, #ddf9ff35, #ffeaae35, #71ffd535, #8fff004a, #4af2ac8f, #6ceeff35);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  min-height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.phone-input {
  width: var(--chakra-sizes-full) !important;
  background-color: var(--chakra-colors-gray-200) !important;
  border: none !important;
  height: 40px !important;
}

#slider-thumb-slider {
  z-index: 0 !important;
}

.file-picker.drag-active {
  @apply bg-blue-100;
  @apply border-blue-500;
  @apply border-solid;
}

.react-date-picker__wrapper {
  border-radius: 5px;
  padding: 4px;
  @apply border-gray-200 !important;
}

.react-date-picker__inputGroup__input {
  min-width: 48px;
  @apply text-center;
}

audio::-webkit-media-controls-panel {
  @apply bg-white;
  @apply border-solid;
}
audio::-webkit-media-controls-enclosure {
  @apply rounded-md;
  @apply border-solid;
  @apply border-gray-200;
}
audio::-webkit-media-controls-timeline {
  stroke: #f5fbff;
}

@media (min-width: 1024px) {
  html {
    width: 100vw;
  }

  .main-content {
    @apply pb-20 !important;
  }

  .lsf-topbar__group:first-child {
    visibility: visible;
    position: relative;
  }

  .form-buttons-container {
    @apply flex;
    @apply w-auto;
    @apply flex-row;
    @apply justify-end;
    @apply mt-4;
    @apply static;
    @apply px-0;
    z-index: 1;
  }

  .form-buttons-container button {
    @apply mb-0;
  }
}
